@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
    /*Fontes*/
    --font-inter: "Inter", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    /*Cores*/
    --color-accent: #5fd4c6;
    --color-accent-contrast: #0b6e66;
    /*Cores (tema claro)*/
    --color-bg-light: #FAFAF8;
    --color-menu-light: #F3F3EF;
    --color-surface-light: #171B1F;
    --color-text-primary-light: #17191C;
    --color-text-secondary-light: #565D66;
    --color-border-light: #E3E5E8;
    /*Cores (tema escuro)*/
    --color-bg-dark: #0F1214;
    --color-menu-dark: #0C0F11;
    --color-surface-dark: #FCFCFC;
    --color-text-primary-dark: #ECEEF0;
    --color-text-secondary-dark: #A3ABB3;
    --color-border-dark: #272D33;
}